
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  header {
    background-color: #eee;
    padding: 20px;
    width: 100vw;
  }
  
  @keyframes textAnimation {
    0% {
      color: red;
      transform: translateX(0);
    }
    25% {
      color: orange;
      transform: translateX(20vw);
    }
    50% {
      color: yellow;
      transform: translateX(40vw);
    }
    75% {
      color: green;
      transform: translateX(60vw);
    }
    100% {
      color: blue;
      transform: translateX(80vw);
    }
  }
  
  h1 {
    display: inline-block;
    animation: textAnimation 5s infinite linear;
  }
  
  main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background: linear-gradient(#e66465, #9198e5);
    transition: all 1s ease-in-out;
    border-radius: 20px;
  }
  
  .box:hover {
    transform: scale(1.2) rotate(180deg);
    box-shadow: 0px 0px 20px 5px #000;
  }
  